<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/hotels/landing.css">

<section class="home">
    <h1 class="h-primary"><strong>Welcome to StaySense</strong></h1>
</section>

<%- include('./partials/footer.ejs') %>